<div class="border border-primary p-1">
    <p>Employee Counter Widget</p>
    <p class="my-0"><small><em>getting a count from the employee service.</em></small></p>
    <h3 class="my-0">There are currently @EmployeeCounter employees working at Bethany's Pie Shop!</h3>
</div>
