@page "/"

@inject IConfiguration Configuration

<h1>Welcome</h1>

<h3>Welcome subtext</h3>


@foreach (var widget in Widgets)
{
    <DynamicComponent Type="widget"></DynamicComponent>
}

<CountryCard />

<p>[-- @Configuration["Message"] --]</p>